services:
  homed-server-google:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8042:8042"
      - "8080:8080"
    env_file: .env.dev
    environment:
      DEBUG: "homed:*"
      DATABASE_URL: /app/db/dev.db
      GOOGLE_SSO_CLIENT_ID: ${GOOGLE_SSO_CLIENT_ID}
      GOOGLE_SSO_CLIENT_SECRET: ${GOOGLE_SSO_CLIENT_SECRET}
      HOMED_USER_ID: ${HOMED_USER_ID}
      HOMED_CLIENT_ID: ${HOMED_CLIENT_ID}
      HOMED_CLIENT_TOKEN: ${HOMED_CLIENT_TOKEN}
    command: dev
    volumes:
      - ./public:/app/public
      - ./templates:/app/templates
      - ./src:/app/src
      - db:/app/db

  homed-service-cloud:
    image: docker.u236.org/homed-cloud
    volumes:
      - ./homed.conf:/etc/homed/homed-cloud.conf
    restart: unless-stopped

volumes:
  db:
