services:
  homed-server-google:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8042:8042"
      - "8080:8080"
    env_file: dev.env
    environment:
      DATABASE_URL: /app/db/dev.db
    command: dev
    volumes:
      - ./src:/app/src
      - db:/app/db

  homed-service-cloud:
    image: docker.u236.org/homed-cloud
    volumes:
      - ./homed.conf:/etc/homed/homed-cloud.conf
    restart: unless-stopped

volumes:
  db:
